<h1><%= t ".heading" %></h1>
<br />
<div class="row">
	<div class="span9">
		<p><%= t ".intro_1" %></p>
		<p><%= t ".intro_2" %><br />
			Yana Lepeikina<br />
			<%= t ".address_1" %><br />
			<%= t ".address_2" %><br />
			<%= t ".address_3" %><br />
			<%= t ".in_russian" %><br />
			<%= t ".rus_address_1" %><br />
			<%= t ".rus_address_2" %><br />
			<%= t ".rus_address_3" %>
		<ul class="thumbnails">
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B002YL4856" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B000N56U88" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B005VDU4TS" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B0042ESFMK" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B002PU9JAA" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B001H0B0C4" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B003ADVR3S" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B000N1NDFK" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B004PBHQO8" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B003QHU9O6" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
			<li>
				<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thgoli08f-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B002SQE8QQ" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
			</li>
		</ul>
	</div>
</div>
