<h1><%= t ".heading" %></h1>
<p><%= t ".block_1" %></p>
   <p></p>
   <a href="http://www.bluemountain.com/" target="_blank" style="color:white">Blue Mountain Greeting Cards</a><br />
   <a href="http://www.123greetings.com/" target="_blank" style="color:white">123 Greetings</a><br />
   <%= t ".find_something" %><br />
   <%= t ".send_to" %><a href="mailto:olesyalepeikina@gmail.com" style="color:white">olesyalepeikina@gmail.com</a>
   <%= t ".thank_you" %>
