<h1>Yana enjoys life and being a kid.</h1>
<br />
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="<%= image_path("yana1.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana1thumb.jpg") %>"></a></li>
			<li><a href="<%= image_path("yana2.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana2thumb.jpg") %>"></a></li>
			<li><a href="<%= image_path("yana3.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana3thumb.jpg") %>"></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="<%= image_path("yana4.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana4thumb.jpg") %>"></a></li>
			<li><a href="<%= image_path("yana5.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana5thumb.jpg") %>"></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="<%= image_path("yana7.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana7thumb.jpg") %>"></a></li>
			<li><a href="<%= image_path("yana8.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana8thumb.jpg") %>"></a></li>
			<li><a href="<%= image_path("yana9.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana9thumb.jpg") %>"></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="<%= image_path("yana10.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana10thumb.jpg") %>"></a></li>
			<li><a href="<%= image_path("yana11.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana11thumb.jpg") %>"></a></li>
			<li><a href="<%= image_path("yana12.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana12thumb.jpg") %>"></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="<%= image_path("yana13.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana13thumb.jpg") %>"></a></li>
			<li><a href="<%= image_path("yana14.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana14thumb.jpg") %>"></a></li>
			<li><a href="<%= image_path("yana15.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana15thumb.jpg") %>"></a></li>
		</ul>
	</div>
</div>
