<h1>Yana enjoying life and being a kid.</h1>
<div class="row">
	<div class="span9">
		<ul class="media-grid">
			<li><a href="#"><img class="thumbnail" src="<%= image_path("yana1.jpeg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("yana2.jpeg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("yana3.jpeg") %>"></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span9">
		<ul class="media-grid">
			<li><a href="#"><img class="thumbnail" src="<%= image_path("yana4.jpeg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("yana6.jpeg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("yana7.jpeg") %>"></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span9">
		<ul class="media-grid">
			<li><a href="#"><img class="thumbnail" src="<%= image_path("yana8.jpeg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("yana8.jpeg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("yana8.jpeg") %>"></a></li>
		</ul>
	</div>
</div>

