<h1>Yana enjoys life and being a kid.</h1>
<br />
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="<%= image_path("yana1.jpeg") %>" target="_blank"><img class="thumbnail" src="<%= image_path("thumbnails/yana1thumb.jpg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("thumbnails/yana2thumb.jpg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("thumbnails/yana3thumb.jpg") %>"></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="#"><img class="thumbnail" src="<%= image_path("thumbnails/yana4thumb.jpg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("thumbnails/yana5thumb.jpg") %>"></a></li>
			<li><a href="#"><img class="thumbnail" src="<%= image_path("thumbnails/yana7thumb.jpg") %>"></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="#"><img class="thumbnail" src="<%= image_path("thumbnails/yana8thumb.jpg") %>"></a></li>
		</ul>
	</div>
</div>

