<h1> <%= t "static_pages.title" %> </h1>
<p><%= t ".block_1" %></p><br />

<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="<%= image_path("yana13.jpeg") %>" target="_blank" float="center"><img class="thumbnail" align="center" src="<%= image_path("thumbnails/yana13thumb.jpg") %>"></a>
			</li>
		</ul>
	</div>
</div>

<p><%= t ".block_2" %></p><br />

<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="<%= image_path("yana5.jpeg") %>" target="_blank"><img class="thumbnail" align="center" src="<%= image_path("thumbnails/yana5thumb.jpg") %>"></a>
			</li>
		</ul>
	</div>
</div>

<p><%= t ".block_3" %></p>
<p><%= t ".block_4" %></p><br />

<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li><a href="<%= image_path("yana3.jpeg") %>" target="_blank"><img class="thumbnail" align="center" src="<%= image_path("thumbnails/yana3thumb.jpg") %>"></a>
			</li>
		</ul>
	</div>
</div>

<p><%= t ".block_5" %></p>
<br />
<h2><%= t ".plea_heading" %></h2>
<p><%= t ".o_writing" %><br /><br />
<%= t ".o_block" %></p>
<p><img src="<%= image_path("yandex.jpg") %>" /></p>
<p><img src="<%= image_path("requisite.jpeg") %>" /></p>
<p><img src="<%= image_path("card_number.jpeg") %>" /></p>
